# Logs
logs
*.log
npm-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

nuntia
dist

codeql-agent-results

/.vscode

*.js

src/cypress/e2e/example.cy.ts
src/cypress/e2e/tsconfig.json
src/cypress/fixtures/example.json
src/cypress/support/commands.ts
src/cypress/support/e2e.ts

res/loci/*.errata.yml

src/**/*.d.ts
